<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>Titulo </th>
        <th>Imagem </th>
        <th>Preço Unidade</th>
        <th>Preço por Kilo</th>
        <th>Supermercado</th>
    </tr>
    {% for result in results %}
    <tr>
        <th>{{ result.title }} </th>
        <th>
            {% if result.image != "None" %}
                <img src="{{ result.image }}">
            {% else %}
                <a/>
            {% endif %}
            </th>
        <th>{{ result.price_uni }}</th>
        <th>{{ result.price_kg }} </th>
        <th>{{ result.supermarket }} </th>
    </tr>
{% endfor %}
</table>

</body>
</html>